/** Yandex Sans Text */
@font-face {
  font-family: "Yandex Sans Text";
  src: url("./fonts/YandexSans/YandexSansText-Regular.eot");
  src: local("Yandex Sans Text Regular"), local("YandexSansText-Regular"),
    url("./fonts/YandexSans/YandexSansText-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/YandexSans/YandexSansText-Regular.woff2") format("woff2"),
    url("./fonts/YandexSans/YandexSansText-Regular.woff") format("woff"),
    url("./fonts/YandexSans/YandexSansText-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Yandex Sans Text";
  src: url("./fonts/YandexSans/YandexSansText-Bold.eot");
  src: local("Yandex Sans Text Bold"), local("YandexSansText-Bold"),
    url("./fonts/YandexSans/YandexSansText-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/YandexSans/YandexSansText-Bold.woff2") format("woff2"),
    url("./fonts/YandexSans/YandexSansText-Bold.woff") format("woff"),
    url("./fonts/YandexSans/YandexSansText-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Yandex Sans Text";
  src: url("./fonts/YandexSans/YandexSansText-Medium.eot");
  src: local("Yandex Sans Text Medium"), local("YandexSansText-Medium"),
    url("./fonts/YandexSans/YandexSansText-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/YandexSans/YandexSansText-Medium.woff2") format("woff2"),
    url("./fonts/YandexSans/YandexSansText-Medium.woff") format("woff"),
    url("./fonts/YandexSans/YandexSansText-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

/** Hack */
@font-face {
  font-family: "Hack";
  src: url("./fonts/Hack/Hack-Regular.eot");
  src: local("Hack Regular"), local("Hack-Regular"),
    url("./fonts/Hack/Hack-Regular.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Hack/Hack-Regular.woff2") format("woff2"),
    url("./fonts/Hack/Hack-Regular.woff") format("woff"),
    url("./fonts/Hack/Hack-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Hack";
  src: url("./fonts/Hack/Hack-Bold.eot");
  src: local("Hack Bold"), local("Hack-Bold"),
    url("./fonts/Hack/Hack-Bold.woff2") format("woff2"),
    url("./fonts/Hack/Hack-Bold.woff") format("woff"),
    url("./fonts/Hack/Hack-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/** Helvetica Neue */
@font-face {
  font-family: "Helvetica Neue";
  src: url("./fonts/HelveticaNeue/HelveticaNeue.eot");
  src: local("Helvetica Neue"),
    url("./fonts/HelveticaNeue/HelveticaNeue.eot?#iefix")
      format("embedded-opentype"),
    url("./fonts/HelveticaNeue/HelveticaNeue.woff2") format("woff2"),
    url("./fonts/HelveticaNeue/HelveticaNeue.woff") format("woff"),
    url("./fonts/HelveticaNeue/HelveticaNeue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
